.header {
    background-color: black;
    color: chartreuse;
    padding: 1em;
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 48px;
    height: 48px;
}

.header__title {
    font-size: 1.5em;
}

a {
    text-decoration:none;
    color: chartreuse;
}