<div id="{{name}}-info-container" class='player-info'>
    <h2>{{name}}</h2>
    Legs: {{ legs }}
    Sets: {{ sets }}
    <h1>{{points}}</h1>{{doubleOutCombination}}
    <form [formGroup]="playerPointsForm">
        <mat-form-field>
            <input 
            class="points-input" 
            placeholder="Pass points"
            matInput type="number"
            formControlName="points"
            step="1"
            (keydown.enter)="updateCurrentPoints(playerPointsForm.value.points)">
            <mat-error *ngIf="playerPointsForm.get('points')?.hasError('invalidNumber')">Incorrect number</mat-error>
            <mat-error *ngIf="playerPointsForm.get('points')?.hasError('wrongNumber')">Max value 180!</mat-error>
        </mat-form-field>
    </form>
    Average: <b>{{ averagePoints }}</b><br>
    Points: <ng-container *ngFor="let points of scoredPoints">
        {{ points }},
    </ng-container>
    <br>
</div>
