<div>
    <div class='player-info' [ngStyle]="{'background-color': playerData.toThrow ? 'gold' : 'white'}">
        <!-- <p class="player-info__start-info" *ngIf="playerData.toStart">
            this player started
        </p> -->
        <div class="head__game-status-icons">
            <img class="player-to-throw" *ngIf="playerData.toStart" src="https://img.icons8.com/fluency/48/000000/play.png"/>
            <img class="player-to-throw" *ngIf="!playerData.toThrow" src="https://img.icons8.com/ios-filled/50/000000/circled.png"/>
            <img class="player-to-throw" *ngIf="playerData.toThrow" src="https://img.icons8.com/emoji/48/000000/green-circle-emoji.png"/>
        </div>
        <h2>{{ playerData.name | uppercase }}</h2>
        <h1>{{playerData.currentPoints}}</h1>
        <!-- {{doubleOutCombination}} -->
        <p>Legs: {{ playerData.legs }}</p>
        <p>Sets: {{ playerData.sets }}</p>
        <p>Avg: {{ playerData.averagePoints3Darts }}</p>

        <!-- Average: <b>{{ averagePoints }}</b><br> -->
        <!-- Points: <ng-container *ngFor="let points of scoredPoints">
            {{ points }},
        </ng-container> -->
    </div>
    
    <p class="player-points" *ngIf="playerData.toThrow">{{ scoredPoints }}</p>
    <button (click)="updateCurrentPoints()">ok</button>
</div>
