.player-info {
    padding: 5px;
    border: 1px dotted black;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
}

.points-input {
    /* border-bottom: 1px solid white; */
}

.player-points {
    background-color: white;
    font-size: 3em;
}