#addPlayerButton {
    background-color: greenyellow;
}

#removePlayerButton {
    background-color: red;
    color: white;
}

.button-section {
    border: 1px solid black;
}

.game-configuration-area {
    border-radius: 8%;
    display: inline-block;
}