#addPlayerButton {
    background-color: rgb(240, 225, 97);
}

#removePlayerButton {
    background-color: red;
    color: white;
}

.button-section {
    border: 1px solid black;
}

.game-configuration-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 4px;
    /* display: inline-block; */
    text-align: center;
    background-color: rgb(112, 108, 108);
    color: white;
}

#startGameButton {
    background-color: bisque;
}

.legs-and-sets {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

@media (max-width: 800px) {
    .legs-and-sets {
      flex-direction: column;
    }
  }

.legs-sets {
    padding: 5px;
}

h3 {
    text-align: center;
}