#addPlayerButton {
    background-color: rgb(97, 188, 240);
    color: black;
}

#addPlayerButton:disabled {
    background-color: rgb(200, 217, 226);
    color: rgb(155, 150, 150);
}

#removePlayerButton {
    background-color: red;
    color: white;
}

.button-section {
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
}

.game-configuration-area {
    padding: 4px;
    display: inline-block;
    text-align: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    border-radius: 15px;

}

#startGameButton {
    background-color: bisque;
}

.legs-and-sets {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

@media (max-width: 800px) {
    .legs-and-sets {
      flex-direction: column;
    }
  }

.legs-sets {
    color: black;
    padding: 5px;
    /* background-color: rgb(241, 231, 231); */
    border-right: 0.2px solid rgb(105, 103, 103);
    border-left: 0.2px solid rgb(105, 103, 103);
}

.players-list {
}



#config-title {
    text-align: left;
    padding-left: 2px;
}