<div [style.backgroundColor]="doesInputShouldBeDispalyed ? '#99d98c': 'white'" >
  <ng-container *ngIf="didPlayerStartedGame">
    <img src="https://img.icons8.com/emoji/16/000000/blue-circle-emoji.png"/>
  </ng-container>
  <h1>{{playerPoints}}</h1>
  <h6>Sets: {{playerSets}}  Legs: {{playerLegs}}</h6>
  <h4>{{doubleOutCombinations}}</h4>
  <div class="player-name">{{playerName}}</div><br>
  <ng-container *ngIf="doesInputShouldBeDispalyed">
      <input id={{playerName}}-input-points-field type="number" placeholder="Enter score" [(ngModel)]="currentScoredPoints" (keydown.enter)="submitPoints()"> 
      <button id="submitPointsButton" (click)="submitPoints()"> > > </button>
      <!-- <br> -->
    </ng-container>
</div>

<!-- <br> -->